/*customers*/

.customers {
   margin-top: 50px;
}

.customer-blok__text {
   width: 370px;
   height: 180px;
   background: #E2E2E2;
   border-radius: 10px;
   position: relative;
}

.customer-blok__text:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   position: absolute;
   top: 165px;
   right: 280px;   
   z-index:1;
   background-color: #E2E2E2;
   transform: rotate(45deg);
}


.customer-blok__text-1 {
   padding: 45px 0;
   color: #86878B;
   line-height: 21px;

}

.customer-blok {
   display: flex;
   text-align: center;
   justify-content: space-between;

}

.customer-blok__people {
   display: flex;
   margin-top: 66px;
   text-align: center;
   margin-bottom: 64px;
   justify-content:space-between;
}


.customer-blok__title-1 {
   padding: 15px 0;
   width: 270px;
   text-align: left;
   margin-bottom: 15px;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #000000;
}

.customer-blok__icon {
   width: 70px;
   height: 70px;
   margin-right: 20px;
}

.customer-blok__sup-title {
   text-align: left;
   font-weight: 400;
}

.customer-blok__item {
   width: 319px;
}
input[type="radio" i]{
   display: none;
}

.slider>label {
   display: none;
}

@media (max-width: 1023px) {

   .slider>label {
      display: none;
   }
   .customer-blok__text {
      width: 317px;
      height: 180px;
   }
   .customer-blok__text:before {
      height: 20px;
      width: 20px;
      right: 245px;   
   }

   .customer-blok__text-1 {
      width: 100%;
      text-align: center;
      font-size: 14px;
   }

   .customer-blok__people {
      display: flex;
      margin-top: 66px;
      text-align: center;
      margin-bottom: 64px;
      justify-content:space-between;
   }
   
   
   .customer-blok__title-1 {
      margin: 0;
      font-size: 18px;
      line-height: 25px;
      width: 231px;
   }
   
   .customer-blok__icon {
      width: 63px;
      height: 63px;
      margin-right: 20px;
   }
   
   .customer-blok__sup-title {
      text-align: left;
      font-weight: 400;
   }

}

@media (max-width: 375px) {


   .customer-blok__text {
      width: 288px;
      height: 180px;
      margin: 24px 16px 16px 16px;
   }

   .customer-blok__text:before {
      height: 20px;
      width: 20px;
      right: 225px;   
   }

   .customer-blok__text-1 {
      width: 100%;
      text-align: center;
      font-size: 14px;
   }


   .customer-blok__icon {
      width: 57px;
      height: 57px;
      margin-right: 20px;
      margin-left: 16px;
   }



   .slider {
      position: relative;
      font-size: 0;
      }

   .slider>input[type="radio"] {
      display: none;
      }

   .slider>div {
      display: none;
   }

    /* делаем видимым контент, который выбран пользователем в качестве активированной радиокнопки */
   #mytab-button-1:checked~#mycontent-1,
   #mytab-button-2:checked~#mycontent-2,
   #mytab-button-3:checked~#mycontent-3 {
      display: block;
   }

   .slider>label {
      position: absolute;
      z-index: 100;
      text-align: center;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;   
      background: #ccc;
      cursor: pointer;   
      transition: background-color .2s;
   }

   .btn-3{
      top: 380px;
      left: 170px;
      margin: 0 10px;
   }

   .btn-2{
      top: 380px;
      left: 150px;
      margin: 0 10px;
   }

   .btn-1{
      top: 380px;
      left: 130px;
      margin: 0 10px;
   }

   .slider>label:not(:first-of-type) { 
      border-left: none;
   }

   .slider>input[type="radio"]:checked+label {
      background-color: #eee;
      border-bottom: 1px solid #eee;
   }


}