/*Modern*/
.banner__img {
   background-image: 
   linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("../JPG/banner_header.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 1026px;
   z-index: 2;
}

.modern{   
   display: flex;
   justify-content: space-between;
   
}

.modern__left {
   color: #FFFFFF;
   margin-left: 115px;
}

.modern__logo {
   margin-top: 231px;
   margin-bottom: 58px;
   width: 170px;
   height: 55px;
}

.modern__title {
   margin-right: 12px;
   line-height: 56px;
   text-transform: uppercase;
   font-size: 48px;
   font-style: normal;
   font-weight: 500;
   align-items: center;
}

.modern__title:after {
   content: "";
   display: block;
   top: 0;
   left: 0;
   width: 170px;
   border: 1px solid #FFFFFF;
   margin-top: 55px;
   margin-bottom: 42px;
}

.modern__text {
   width: 270px;
   margin-bottom: 72px;
   line-height: 21px;
}

.btn_download {
   margin-bottom: 185px;
   padding: 14px 80px;   
   border: 2px solid #FFFFFF;
   text-decoration: none;
   color: #fff;
   font-family: 'Open Sans';
   font-weight: 600;
   text-align: center;
   
}

.modern__right {
   position: relative;
   margin-top: 208px;
   background-color: #FFFFFF;
   border-radius: 10px;
   width: 470px;
   height: 450px;
   margin-right: 20px;

}

.modern_text-form {
   font-family: 'Open Sans';
   text-transform: uppercase;
   font-weight: 700;
   font-size: 24px;
   color: #333333;
   text-align: center;
   padding: 30px 0;
   margin-bottom: 42px;
}

.modern_text-form span {
   color: #EC7979;
}

.modern__item {
   width: 370px;
   height: 38px;
   margin: 0 50px 33px 50px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid #BDBDBD;
   color: #BDBDBD;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans';
}

.modern__item:last-child {
   margin-bottom: 77px;

}

.btn_Started {
   position: absolute;
   color: #fff;
   text-decoration: none;
   background-color: #EC7979;
   width: 100%;
   border-radius: 0px 0px 10px 10px;
   text-align: center;
   padding: 20px 0;
   bottom: 0;
}


@media (max-width: 1023px) {
   .banner__img {
   height: 768px;
   }

   .modern__logo {
      margin-top: 150px;
      margin-bottom: 42px;
      width: 112px;
      height: 41px;
   }


   .modern__right {
      margin-top: 137px;
      width: 398px;   
      height: 450px;
   }

   .modern__item {
      width: 298px;
   }

   .modern_text-form {
      font-size: 18px;
   }
   .btn_Started {
      font-size: 15px;

   }


   .modern__title {
      font-size: 36px;
      line-height: 42px;
   }

   .modern__title:after {
      margin-top: 42px;
      margin-bottom: 31px;
      width: 115px;
   }

   .modern__text {
      width: 183px;
      margin-bottom: 47px;
      font-size: 14px;
   }

   .btn_download {
      padding: 13px 50px;
      font-size: 18px;
      
   }

}

@media (max-width: 375px) {
   .banner__img {
   height: 1005px;
   }

   .modern__logo {
      display: none;
   }
   .modern{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .modern__right {
      margin: 56px 16px 50px 16px;
      width: 288px;   
      height: 381px;
   }

   .modern__item {
      width: 240px;
      margin-bottom: 33px;
      margin-left: 20px;
   }

   .modern_text-form {
      margin-bottom: 0;
      font-size: 14px;
   }
   .btn_Started {
      font-size: 15px;

   }

   .modern__left {
      text-align: center;
      margin: 84px 16px 18px 16px;

   }

   .modern__title {
      line-height: 42px;
      margin: 0;
      width: 288px;
      font-size: 36px;
      height: 168px;

   }

   .modern__title:after {
      margin-top: 42px;
      width: 134px;
      margin-left: 70px;

   }

   .modern__text {
      margin-top: 86px;
      width: 288px;
      height: 32px;
      margin-bottom: 58px;
      font-size: 14px;
   }

   .btn_download {
      padding: 13px 99px;
      font-size: 18px;
      
   }

}