/*Stylish*/
.stylish {
   margin-bottom: 50px;
}

.sup-container__text {
   text-align: center;
}

.awesome__title-color {
   padding-top: 107px;
   font-size: 36px;
   font-weight: 400;
   color: #FFF;
   text-transform: uppercase;

}

.awesome__text-color {
   color: #fff;
   margin-bottom: 72px;
}

.awesome__title-color:after {
   content: "";
   display: block;
   width: 170px;
   height: 3px;
   background-color: #fff;
   margin: 55px auto 40px;

}

.container.back-stylish {
   background-image: 
   linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("/JPG/banner_footer.jpg");
   background-position: center;
   background-repeat: no-repeat;
   /*background: url("/JPG/banner_footer.jpg") center no-repeat;*/
   width: 1480px;
   height: 442px;
}

.btn-stylich {
   text-align: center;
   margin-bottom: 50px;
}

.stylish-button {
   text-decoration: none;
   color: #fff;
   padding: 20px 150px;
   border: 2px solid #FFFFFF;
   
}