/*Stylish*/
.stylish {
   margin-bottom: 50px;
}

.sup-container__text {
   text-align: center;
}

.awesome__title-color {
   padding-top: 107px;
   font-size: 36px;
   font-weight: 400;
   color: #FFF;
   text-transform: uppercase;

}

.awesome__text-color {
   color: #fff;
   margin-bottom: 72px;
}

.awesome__title-color:after {
   content: "";
   display: block;
   width: 170px;
   height: 3px;
   background-color: #fff;
   margin: 55px auto 40px;

}

.container.back-stylish {
   background-image: 
   linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("/JPG/banner_footer.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   /*background: url("/JPG/banner_footer.jpg") center no-repeat;*/
   width: 100%;
   height: 442px;
}

.btn-stylich {
   text-align: center;
   margin-bottom: 50px;
}

.stylish-button {
   text-decoration: none;
   color: #fff;
   padding: 20px 150px;
   border: 2px solid #FFFFFF;
   
}

@media (max-width: 375px) {

   .awesome__title-color {
      font-size: 24px;
      width: 100%;
      margin: 0;
      padding-top: 50px;
   }
   .sup-container__text{
      width: 100%;
      margin: 0;

   }

   .awesome__title-color:after {
      margin: 50px auto 16px;
   
   }

   .awesome__text-color{
      font-size: 14px;
      margin-left: 16px;
      margin-bottom: 120px;
   }
   
   .stylish-button {
      padding: 20px 100px;

      
   }


}