/*tab*/
.tabs {
   font-size: 0;
   margin-top: 109px;
}

.tabs>input[type="radio"] {
   display: none;
}

.tabs>div {
   /* скрыть контент по умолчанию */
   display: none;
   border: 1px solid #C6CBCD;
   font-size: 16px;
   height: 501px;
}

 /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
   display: block;
}

.tabs>label {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   user-select: none;
   border: 1px solid #C6CBCD;
   padding: 10px 55px;
   font-size: 16px;
   line-height: 1.5;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
   cursor: pointer;
   position: relative;
   top: 1px;
   text-transform: uppercase;
   border-radius: 5px 5px 0px 0px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;  
}

.tabs>label:not(:active) {
   border: 1px solid #C6CBCD;
}

.tabs>input[type="radio"]:checked+label {
   background-color: #fff;
   border-bottom: 1px solid #fff;
}

.contant__tab-1 {
   display: flex;
   justify-content: center;
}

.tab-1__container {
   width: 570px;
   margin-left: 100px;
   margin-right: 40px;
   margin-bottom: 27px;
}

.tab-1 {
   padding: 80px 0;
   font-size: 30px;
   font-weight: 700;
   font-family: 'Open Sans';
   color: #000;
}

.tab__text {
   width: 570px;
   margin-bottom: 27px;
   font-size: 18px;
   line-height: 21px;
}

.tab__text-2 {
   width: 570px;
   margin-bottom: 50px;
   font-size: 18px;
   line-height: 21px;
}

.tab-1__btn {
   padding: 20px 100px;
   text-decoration: none;
   color: #fff;
   background-color: #EC7979;

}

.tab {
   margin-bottom: 54px;
}

@media (max-width: 1023px) {
   .tabs>div {
      font-size: 14px;
      height: 386px;
   }

   .tab-1__container {
      width: 482px;
      margin-left: 84px;
      margin-right: 40px;
      margin-bottom: 27px;
   }
   

   .contant__tab-1 {
      width: 992px;
      height: 386px;
   }

   .tabs {
      width: 992px;
      margin: 50px 16px;
   }

   .tab-1__container-2 img {
      width: 398px;
      height: 100%;
   }

   .tab-1 {
      font-size: 24px;
      padding: 32px 0 ;
   }
   
   .tab__text, .tab__text-2 {
      width: 100%;
      font-size: 16px;
      line-height: 16px;
   }

   .tab-1__btn {
      width: 232px;
   }

}

   @media (max-width: 375px) {

      .tab-1__container-2 img {
         display: none;
      }
      #content-1{
         height: 431px;
      }

      .tabs {
         width: 288px;
         margin: 50px 16px;
         height: 531px;
      }
      .contant__tab-1 {
         width: 288px;
         height: 431px;
      }

      .tab-1__container {
         width: 244px;
         margin-left: 24px;
         margin-right: 21px;
         margin-bottom: 27px;
         text-align: center;
         
      }

      .tab__text, .tab__text-2 {
         width: 100%;
         font-size: 13px;
         line-height: 15px;
      }

      .tab__text-2 {
         margin-bottom: 45px;
      }

      .tab-1 {
         font-size: 18px;
         padding: 32px 0 ;
      }

      .tab-1__btn {
         padding: 16px 80px;
      
      }

      .tabs>label {
         display: inline-block;
         text-align: center;
         vertical-align: middle;
         user-select: none;
         border: 1px solid #C6CBCD;
         padding: 10px 27px;
         font-size: 16px;
         line-height: 1.5;
         transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
         cursor: pointer;
         position: relative;
         top: 1px;
         text-transform: uppercase;
         border-radius: 5px 5px 0px 0px;
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;  
      }
}